.navigation {
  display: flex;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
  }
}

.navigation__logo-wrapper {
  padding-top: 49px;
  margin-right: 60px;

  @media (max-width: $tablet-width) {
    padding-top: 44px;
    margin-right: 24px;
  }
}
