html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: $Sapphire;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button { /* Отключает выделение текста */ /* Для Safari и Chrome */
  user-select: none; /* Для Firefox */
  user-select: none;
}
